---
import '../styles/global.css'
import '../styles/404.css'

const url = new URL(Astro.url.pathname, Astro.site)
url.pathname = url.pathname.replace(/\/$/, '') // Strip slash from the end of the path
---

<html lang='en'>
<head>
	<meta charset='utf-8' />
	<meta name='viewport' content='width=device-width, initial-scale=1' />

	<link rel='preconnect' href='https://fonts.googleapis.com' />
	<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
	<link href='https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap' rel='stylesheet' />

	<title>찾을 수 없음 | Putting the "You" in CPU</title>
	
	<meta http-equiv='Status' content='404 Not Found' />
	<meta name='robots' content='noindex' />
	
	<meta name='theme-color' content='#845ef7' />
	<link rel='icon' href='/favicon-on-dark.png' media='(prefers-color-scheme: dark)' />
	<link rel='icon' href='/favicon-on-light.png' media='(prefers-color-scheme: light)' />
	
	<script defer data-domain='cpu.land' src='https://plausible.io/js/script.js' />
</head>
<body>
	
	<main>
		<p>$ curl {url.toString()}</p>
		<h1>세그멘테이션 오류 (코어 덤프됨)</h1>
		<br>
		<p>$ # 존재하지 않는 메모리 영역 &mdash; 아니, 페이지 &mdash;에 접근하신 것 같습니다.</p>
		<p>$ # 페이지 폴트에 대해 더 알고 싶으신가요? <a href='/'>처음부터 시작하세요!</a></p>
	</main>
</body>
</html>
