---
export interface Props {
	hideEditions?: boolean
}

const { hideEditions } = Astro.props
---

<footer class='scroll-padding'>
	<div class='content'>
		<p>[이 공간은 의도적으로 비워두었습니다]</p>
		<p>모든 페이지의 하단에 여백을 추가하여 독자가 일관된 시선을 유지할 수 있도록 했습니다.</p>
		<p>
			<a target='_blank' href='https://github.com/hackclub/putting-the-you-in-cpu/tree/main/src/content/chapters'>
				GitHub에서 ❤︎과 함께 오픈 소스로 공개
			</a>
		</p>
		{hideEditions ? null : <>
			<hr />
			<p>
				다른 에디션:
				<a href='/editions/one-pager'>단일 페이지</a> &middot;
				<a href='/editions/printable.pdf'>PDF</a><!--  &middot;
				<a href='/editions/book.epub'>EPUB</a> -->
			</p>
		</>}
	</div>
</footer>
